* {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}
body {
    padding: 50px;
    margin: 4px;
}
head {
    background-color: #ccc;
}
head h1 {
    color: blue;
}

article h2 {
    color: brown;
}